.well {
	background-color: #13a89e;
	color: #fff;
}
@media only screen and (max-width: 420px) {
	.well h1 {
		font-size: 24px;
		}
}
@media only screen and (max-width: 304px) {
	.well h1 {
		font-size: 18px;
		}
}
.nav_main .mobile-side-menu li a img {
	width: 30px;
	height: 25px;
}
.nav_main .agile_container .agile_nav_main_left .toggleMenu {
	display: inline-block;
}
.nav_main .agile_container .agile_nav_main_left .toggleMenu a div {
	width: 35px;
	height: 5px;
	background-color: #8cc542;
	margin: 6px 0;
}
.container form {
	text-align: center;
	margin-top: 50px;
}
.container form button.btn.btn-primary.btn-lg.align-center {
	border-radius: 0 10px 10px;
	margin-top: 50px;
}
div input {
	margin: 10px 0;
}
div.button-group {
	margin: 20px 0;
}
#toggle-buttons {
	margin: 20px auto;
}
button#btn-danger.btn.btn-danger.btn-lg.text-center {
	border-radius: 0 10px 10px;
}
button#btn-success.btn.btn-success.btn-lg.text-center {
	border-radius: 10px 0 10px 10px;
}