
h4, h5, h6,
h1, h2, h3 {
	margin: 0;
	}
ul, ol, li{margin: 0; padding: 0;}
p {margin: 0;padding: 0;}
body{
background: #043d67;
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
}
body p{
  font-family: 'Open Sans', sans-serif;

}
/*--fonts--*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
}
@font-face{
	font-family: 'Source Sans Pro';
	src:url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
}
.side-nav.leftside-navigation {
    top: 64px;
    overflow: hidden;
}
.frame-border{
    width: 350px;
    height: 630px;
    outline: none;
	border: solid 20px #000;
    border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	-ms-border-radius: 40px;
    border-bottom: solid 80px #000;
    border-top: solid 60px #000;
}
.frame-border1{
    width: 788px;
    height: 630px;
    outline: none;
	border: solid 20px #000;
    border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	-ms-border-radius: 40px;
    border-bottom: solid 80px #000;
    border-top: solid 60px #000;
}
.main_frame.second {
    height: 100%;
       background-color: #02243e;
    padding: 5px;
    border-radius: 45px;
	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	-o-border-radius:45px;
	-ms-border-radius:45px;
    margin-left: auto;
    margin-right: auto;
     width: 360px;
    height: 640px;
}
.main_frame1.second {
    height: 100%;
       background-color: #02243e;
    padding: 5px;
    border-radius: 45px;
	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	-o-border-radius:45px;
	-ms-border-radius:45px;
    margin-left: auto;
    margin-right: auto;
     width: 798px;
    height: 640px;
}
h1.fit_tittle a{
	text-decoration:none;
	color:#fff;
	text-align:center;
}
h1.fit_tittle{
	text-align:center;
	margin-bottom:40px;
	font-size:50px;
}
.fit_main{
	padding:50px 0;
}
/*--status-bar--*/
.body-back{
    background: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
    margin: 0;

	}
.phn-status-bar{
    padding: 5px 0;
    background: #b377d9 !important;
}
.float-stn1{
    width: 33.3333333%;
    float: left;
}
.wrap {
position:relative;
}
.time {
    text-align: center;
}
.time p {
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.blutot-battery ul {
    list-style-type: none;
}
.blutot-battery ul li {
    display: inline-block;
}
.blutot-battery {
    text-align: center;
}
.blutot-battery li {
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.fitness-app{
    background:#5d345a !important;
	}
.fitness-app h1{
	font-size:36px;
	text-align:center;
	display:none;
}
.fitness-app h1 a {
    color: #fff;
    text-decoration: none;
}
.clock ul li {
    display: inline;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.Profile-mid {
    float: left;
    width: 33.333%;
    text-align: center;
}
.profile-left {
    float: left;
    width: 33.3333%;
    text-align: center;
}
h5.pro-link a{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}
h5.pro-link a:hover{
	text-decoration:none;
}
.Profile-right {
    float: right;
    width: 33.3333%;
    text-align: center;
}
.Profile-right i{
    font-size: 20px;
    color: #fff;
}
.profile-left i{
       font-size: 20px;
    color: #fff;
}

.Profile-right span{
	color:#fff;
	font-size:15px;
	right:0;
}
.menu-notify {
  padding: 12px 0;
  background:#2ad2c9!important;
}

.panel {
    margin-bottom: 0px;
       background: rgb(30, 31, 33);
    width: auto;
    height: 780px !important;
    width: 15.625em !important;
    border: 0 solid transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-align: left;
    padding: 34px 0px 0px;
	z-index:999;
}
.profile-menu img{
	width:46%;
}
.profile-menu{
	margin:25px 0;
}
.profile-menu h3 {
    color: #fff;
    font-size: 18px;
    margin: 20px 0 10px;
}
.profile-menu h4 {
    color: #fff;
    font-size: 14px;
}
.pro-menu .progress {
    height: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.pro-menu .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #B377D9;
}
.pro-menu p{
	color:#fff;
	font-size:14px;
	text-align:left;
    margin-bottom: 8px;
}
.wrap-content {
    width: 87%;
    margin: 0 auto;
}
.pro-menu {
    margin-top: 30px;
}
.logo .link {
	outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
	color: #fff;
	display:block;
	    font-size: 16px;
}
/* Yaku */
.logo .link--yaku {
	overflow: hidden;
}
.logo .link--yaku::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.logo .link--yaku:hover::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.logo .link--yaku span {

	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
}

.logo .link--yaku:hover span {
	color: #2ad2c9;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
	transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.logo .link--yaku span:nth-child(4),
.logo .link--yaku:hover span:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.logo .link--yaku span:nth-child(3),
.logo .link--yaku:hover span:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.logo .link--yaku span:nth-child(2),
.logo .link--yaku:hover span:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.logo .link--yaku span:first-child,
.logo .link--yaku:hover span:nth-child(4) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.link--ilin span:first-of-type{
	color:#fff;
}
.link--ilin span:last-of-type{
color:#EA6153;
}
.logo a.active{
	color: #2ad2c9;
}
.logo li {
    list-style: none;
    margin-bottom:20px;
	}
	.main-row h1 span {
    color: #2ad2c9;
}
.main-row h1 {
      text-align: center;
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    font-weight: 800;
}
/*-- --*/
#copyright {
	color: #fff;
}
